.canvas {
    width: 100%;
    /* Occupy 100% of the parent container's width */
    height: calc(100vw * 9 / 16);
    /* Calculate height based on 16:9 aspect ratio */
    max-height: 100vh;
    /* Set maximum height to fit within the viewport */
    /* background-color: #000; */
    /* Set a background color for the canvas */
    display: block;
    /* Make sure the canvas is displayed as a block element */
    margin: 0 auto;
    /* Center the canvas horizontally */
}