.banner {
    display: flex;
    gap: $gap-xlarge;
    flex-direction: column;

    @media screen and (min-width: $breakpoint-large) {
        flex-direction: row;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: $gap-default;

        @media screen and (min-width: $breakpoint-medium) {
            gap: $gap-large;
        }
        @media screen and (min-width: $breakpoint-large) {
            gap: $gap-xlarge;
        }
    }

    &__catchyPhrase {
        @include text-defaults;
        font-weight: $font-weight-bold;
    }

    &__title,
    a {
        @include text-defaults;
        font-size: $font-size-medium;
        font-weight: $font-weight-extra-bold;

        @media screen and (min-width: $breakpoint-medium) {
            font-size: $font-size-large;
        }

        @media screen and (min-width: $breakpoint-large) {
            font-size: $font-size-xlarge;
        }
    }

    &__description {
        @include text-defaults;
        color: $secondary;
    }

    &__cta {
        display: flex;
        flex-direction: row;
        gap: $gap-default;
    }

    &__image {
        padding: 0 $padding-large;
        img {
            width: 100%;
        }
    }
}
