.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: $padding-large;
  padding-bottom: $padding-large;

  @include respond-to("large") {
    margin-bottom: $margin-medium;
  }

  @include e("logo") {
    margin: 0;

    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    color: $white !important;

    &:hover {
      color: $primary;
    }
  }

  @include e("nav") {
    display: none;
    transform: translate(0, 10px);

    @include respond-to("large") {
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;

      gap: $gap-large;
      margin: 0;

      a:hover,
      a:active,
      .active {
        & + .header__nav--activeIndicator {
          visibility: visible;
        }
      }

      .active {
        color: $white;
      }
    }

    @include m("activeIndicator") {
      display: flex;
      justify-content: center;
      gap: 5px;
      visibility: hidden;
    }
  }

  @include e("cta") {
    display: none;

    @include respond-to("large") {
      display: block;
    }
  }

  @include e("menu") {
    @include respond-to("large") {
      display: none;
    }

    @include m("icon") {
      width: 2rem;
      height: 2rem;
      fill: $white;

      display: flex;
      align-items: center;
    }
  }
}
