.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: $padding-large inherit;
  padding-top: $padding-large;
  padding-bottom: $padding-large;

  @media screen and (min-width: $breakpoint-large) {
    margin-bottom: $margin-medium;
  }

  &__logo {
    margin: 0;

    a {
      color: $white;
      font-size: $font-size-large;
      font-weight: $font-weight-bold;
    }
  }

  &__nav {
    display: none;
    transform: translate(0, 10px);

    &-activeIndicator {
      display: flex;
      justify-content: center;
      gap: 5px;
      visibility: hidden;
    }

    @media screen and (min-width: $breakpoint-large) {
      display: flex;
      align-items: center;
      justify-content: space-between;

      ul {
        display: flex;
        align-items: center;
        list-style: none;
        gap: $gap-large;
        margin: 0;
      }

      a:hover,
      a:active {
        & + .header__nav-activeIndicator {
          visibility: visible;
        }
      }
    }
  }

  &__cta {
    display: none;

    @media screen and (min-width: $breakpoint-large) {
      display: block;
    }
  }

  &__menu {
    @media screen and (min-width: $breakpoint-large) {
      display: none;
    }

    &-icon {
      width: 2rem;
      height: 2rem;
      fill: $white;

      display: flex;
      align-items: center;
    }
  }
}
