@mixin container-defaults {
    padding: 0 $padding-medium;
    @media screen and (min-width: $breakpoint-medium) {
        padding: 0 $padding-large;
    }
    @media screen and (min-width: $breakpoint-large) {
        padding: 0;
        max-width: 1440px;
        margin: 0 auto;
    }
}

.container {
    @include container-defaults;
}
