.reason {
    @include text-defaults;
    margin: $margin-default 0;
    display: flex;
    flex-direction: column;
    gap: $gap-large;

    @include respond-to("medium") {
        gap: $gap-xlarge;
    }
    @include respond-to("large") {
        gap: $gap-large;
    }

    @include e("header") {
        display: flex;
        flex-direction: column;
        gap: $gap-default;

        @include respond-to("medium") {
            gap: $gap-large;
        }
        @include respond-to("large") {
            flex-direction: row;
            gap: 255px; // static exact value as provided in design
            justify-content: space-between;
        }

        @include m("title") {
            font-size: $font-size-medium;
            font-weight: $font-weight-bold;
            margin: 0;

            @include respond-to("medium") {
                font-size: $font-size-large;
            }

            @include respond-to("large") {
                font-size: $font-size-xlarge;
                flex: 1 1 50%;
            }
        }
        @include m("description") {
            color: $secondary;
            margin: 0;

            @include respond-to("large") {
                flex: 1 1 50%;
            }
        }
    }

    @include e("cards") {
        display: flex;
        flex-direction: column;
        gap: $gap-default;

        @include respond-to("medium") {
            flex-direction: row;
            flex-wrap: wrap;
            // align-items: flex-end;
            gap: $gap-large;

            & > * {
                flex: 1;
            }
        }
        @include respond-to("large") {
            gap: $gap-xlarge;
            align-items: flex-end;
        }
    }

    @include e("card") {
        display: flex;
        flex-direction: column;
        gap: $gap-default;
        border-radius: $border-radius;
        border: 3px solid $secondary;
        padding: $padding-default;
        width: 70%;

        &:first-child,
        &:active,
        &:focus,
        &:hover {
            border-top-right-radius: $border-radius-xlarge;
            border: none;
            background-color: $bg-secondary-light;
            width: unset;

            @include respond-to("medium") {
                border-top-right-radius: $border-radius-xxlarge;
                flex-basis: 100%;
            }
            @include respond-to("large") {
                flex-basis: 0;
                height: max-content;
            }

            .reason__card--title {
                color: $primary;
            }
            .reason__card--description {
                display: block;
            }
            .reason__card--link {
                color: $primary !important;
            }
        }

        @include respond-to("medium") {
            gap: $gap-large;
            padding: $padding-large;
        }

        @include m("icon") {
            width: 50px;
            height: 50px;
            border-radius: $border-radius-small;
            background-color: $bg-secondary-lighter;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: $padding-small;

            @include respond-to("medium") {
                width: 70px;
                height: 70px;
            }
            @include respond-to("large") {
                width: 100px;
                height: 100px;
                padding: 15px;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
        @include m("title") {
            @include respond-to("medium") {
                font-size: $font-size-medium;
            }
        }
        @include m("description") {
            display: none;
            color: $secondary;

            @include respond-to("medium") {
                font-size: $font-size-medium;
            }
        }
        @include m("link") {
            display: flex;
            align-items: center;
        }
    }
}
