@mixin text-defaults {
    font-size: $font-size-small;
    font-weight: $font-weight-regular;
    margin: 0;

    @include respond-to("medium") {
        font-size: $font-size-normal;
    }

    @include respond-to("large") {
        font-size: $font-size-medium;
    }
}

.text {
    @include text-defaults;

    // colors
    @include m("primary") {
        color: $primary;
    }
    @include m("black") {
        color: $black;
    }
    @include m("white") {
        color: $white;
    }
    @include m("secondary") {
        color: $secondary;
    }
}
