.bg-primary {
  background-color: $bg-primary;
  color: $white;

  a {
    color: $secondary;

    &:hover,
    &:active {
      color: $white;
    }
  }

  input {
    background-color: darken($bg-secondary, 10%);
  }
}

.bg-secondary {
  background-color: $white;
  color: $black;

  @include respond-to("large") {
    background-color: transparentize($color: $bg-secondary, $amount: 0.5);
  }

  a {
    color: $secondary;

    &:hover {
      color: transparentize($secondary, 0.6);
    }
  }

  input {
    background-color: darken($bg-primary, 15%);
  }
}
