@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;700&display=swap");

body {
    font-family: $font-family;
    font-size: $font-size-base;
    line-height: $line-height-default;
    color: $color-text-body;
}

a {
    color: $color-link;
    text-decoration: none;
}

button {
    appearance: none;
}

.bg-primary {
    background-color: $primary;
    color: $white;

    a {
        color: $fade-white;
        font-weight: $font-weight-regular;
        font-size: $font-size-base;
        transition: color 0.2s ease-in-out;

        &:hover,
        &:active {
            color: $white;
            font-weight: $font-weight-medium;
        }
    }

    .btn {
        &-primary {
            background-color: $white;
            color: $primary;

            &:hover {
                background-color: darken($white, 10%);
            }
        }
    }
}

.bg-white {
    background-color: $white-bg;
    color: $black;

    a {
        // color: $black;
        font-weight: $font-weight-regular;
        font-size: $font-size-base;
        transition: color 0.2s ease-in-out;

        &:hover {
            color: transparentize($black, 0.6);
            font-weight: $font-weight-medium;
        }
    }

    .btn {
        &-primary {
            background-color: $primary;
            color: $white;

            &:hover {
                background-color: darken($primary, 10%);
            }
        }
    }

    input {
        background-color: $white-bg;
    }
}

.bg-accent {
    background-color: #7a74fa;
}

.title {
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
    margin: 0;
    line-height: 2.6;
}

.description {
    font-size: $font-size-small;
    font-weight: $font-weight-regular;
    line-height: 2;
    margin: 0;

    //     @if $background == $primary {
    //         color: $fade-white;
    //     } @else {
    //         color: $color-text-body;
    //     }
}

// reset default figure margin
figure {
    margin: 0;
}
