@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&display=swap');

body {
    font-family: $font-family;
    font-size: $font-size-base;
    line-height: $line-height-default;
    color: $color-text-body;
}

a {
    color: $color-link;
    text-decoration: none;
}

button {
    appearance: none;
}

.bg-primary {
    background-color: $primary;
    color: $white;
}

// reset default figure margin
figure {
    margin: 0;
}