.cta {
    &__image {
        width: 100%;
        height: auto;
    }

    &__info {
        padding: $padding-medium;
        background-color: $white;
        color: $color-text-body;
        border-radius: $border-radius;
        box-shadow: 0 0 10px rgba($black, 0.1);
        transition: all 0.3s ease-in-out;

        &:hover {
            box-shadow: 0 0 20px rgba($black, 0.2);
        }
    }

    &__title {
        font-size: $font-size-medium;
        font-weight: $font-weight-bold;
    }

    &__description {
        font-size: $font-size-small;
        line-height: $line-height-default;
    }

    &__download {
        display: flex;
        gap: $gap-medium;

        list-style: none;
        padding: 0;
    }
}
