.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    margin: 0;
  }

  &__nav {
    display: none;

    @media screen and (min-width: $breakpoint-small) {
      display: flex;
      align-items: center;
      list-style: none;
      gap: $gap-large;

      a {
        color: $fade-white;
        font-weight: $font-weight-regular;
        font-size: $font-size-base;
        transition: color 0.2s ease-in-out;

        &:hover {
          color: $white;
          font-weight: $font-weight-medium;
        }
      }
    }
  }

  &__menu {
    @media screen and (min-width: $breakpoint-small) {
      display: none;
    }

    &-icon {
      width: 2rem;
      height: 2rem;
      fill: $white;

      display: flex;
      align-items: center;
    }
  }
}
