.subscribe {
    // &__info {
    // }

    @media screen and (min-width: $breakpoint-small) {
        background-color: #1d1c31;
        color: $white;
        padding: $padding-medium;
        border-radius: $border-radius;
        max-width: 481px;

        input {
            background-color: inherit;
        }
        .btn {
            &-primary {
                background-color: $white;
                color: $black;

                &:hover {
                    background-color: darken($white, 10%);
                }
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: $gap-medium;
        padding: $padding-medium 0;

        @media screen and (min-width: $breakpoint-small) {
            flex-direction: row;
            align-items: center;
            gap: $gap-medium;
        }

        &-input {
            border: 0;
            border-bottom: 1px solid $color-text-body;
            transition: all 0.2s ease-in-out;

            &:focus {
                outline: none;
                border-color: darken($white, 40%);
            }

            @media screen and (min-width: $breakpoint-small) {
                width: 100%;
                border-bottom: 1px solid $white;
            }
        }

        &-button {
            align-self: flex-start;
        }
    }
}
