/* For desktop: Default */

body {
  background: #343d33;
  margin: 96px 179px 96px 179px;  /* top | right | bottom | left */
}

/* Helper reusable classes start */
.center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.image {
  max-width: 1040px;
  height: auto;
  flex-shrink: 0;
}
/* Helper reusable classes end */

.content {
  gap: 40px;
}

/* .rectangle-21 {
  order: 1;
}

.rectangle-22 {
  order: 2;
}

.content > .text-content {
  order: 3;
} */

.heading {
  color: #fff;

  /* text/medium title */
  font-family: Libre Baskerville;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 37.4px */
  text-transform: capitalize;

  margin: 24px 0 8px 0;
  text-align: center;
}

.sub-heading {
  color: #fff;

  /* text/small body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */

  margin: 8px 0 16px 0;
  text-align: center;
}

button {
  display: inline-flex;
  padding: 15px 30px; /* top-bottom | right-left */
  align-items: center;
  gap: 10px;

  border: 2px solid #fff;
  background: inherit;
  color: #fff;

  /* buttons text */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;
  text-transform: uppercase;

  margin-top: 16px;
}

button:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  /* For tablets: */

  body {
    margin: 96px 105px 104px 105px;
  }

  .center {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .image {
    max-width: 534px;
  }

  .content {
    flex-direction: row;
    gap: 20px;
  }

  .rectangle-21 {
    /* flex: 1; */
    /* max-width: 534px; */
    /* width: 534px;
    height: 354px; */
    /* margin-right: 89px; */
    /* flex-shrink: 0; */
    max-width: 60%;
  }

  .rectangle-22 {
    order: 3;
  }

  .content {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .content > .text-content {
    /* flex: 1; */
    /* width: auto;
    max-width: 417px; */
    /* width: auto; */
    /* width: 417px; */
    /* height: 354px; */
    /* flex-shrink: 0; */

    max-width: 30%;
    /* max-width: 417px; */
    order: 2;

    /* 2 * 179px */
    /* flex: 0 0 calc(50% - 358px);  */
  }
}
