body {
  background: #343d33;
  margin: 56px 16px 64px 16px; /* top | right | bottom | left */

  background-image: url("./assets/plant accent.png");
  background-repeat: no-repeat;
  /* background-color: #cccccc; */
  background-position: bottom;
  background-position-x: 150px;
  background-position-y: 350px;
}

/* Helper reusable classes start */
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  max-width: 344px;
  /* visibility: hidden; */
}
/* Helper reusable classes end */

.content {
  gap: 8px;
}

.rectangle-21 {
  order: 1;
}

.rectangle-22 {
  order: 2;
}

.content > .text-content {
  order: 3;
}

.heading {
  color: #fff;

  /* text/medium title */
  font-family: Libre Baskerville;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 37.4px */
  text-transform: capitalize;

  margin: 24px 0 8px 0;
  text-align: center;
}

.sub-heading {
  color: #fff;

  /* text/small body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */

  margin: 8px 0 16px 0;
  text-align: center;
}

button {
  display: inline-flex;
  padding: 15px 30px; /* top-bottom | right-left */
  align-items: center;
  gap: 10px;

  border: 2px solid #fff;
  background: inherit;
  color: #fff;

  /* buttons text */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;
  text-transform: uppercase;

  margin-top: 16px;
}

button:hover {
  cursor: pointer;
}

@media only screen and (min-width: 575px) {
  /* For tablets: */

  body {
    margin: 96px 105px 104px 105px;
    
    background-position-x: 330px;
    background-position-y: 750px;
  }

  .image {
    max-width: 534px;
  }

  .content {
    gap: 20px;
  }

  .content > .text-content {
    align-items: flex-start;
  }

  .heading {
    font-size: 45px;

    margin: 40px 0 8px 0;
    text-align: start;
  }

  .sub-heading {
    font-size: 20px;
    text-align: start;
  }

  button {
    padding: 20px 40px;
  }
}

@media only screen and (min-width: 1024px) {
  /* For desktop: */

  body {
    margin: 96px 179px 96px 179px;
    
    background-position: right;
  }

  .image {
    max-width: 1040px;
  }

  .content {
    gap: 40px;
  }

  .rectangle-21 {
    min-width: 60%;
  }

  .rectangle-22 {
    order: 3;
  }

  .content {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .content > .text-content {
    max-width: 30%;
    order: 2;
  }
}
