:root {
    --margin: 10px;
}


.viewport {
    /* margin: var(--margin);
    height: calc(100vh - 2 * var(--margin));
    width: calc(100vw - 2 * var(--margin)); */

    height: 100vh;
    width: 100vw;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
}

.ball {
    position: absolute;
    border-radius: 50%;
}